name: CI/CD pipeline for main branch
run-name: ${{ github.actor }}
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      skip_lint:
        description: "Skip lint stage"
        type: boolean
        required: false
        default: false
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true
jobs:
  test:
    if: ${{ !github.event.inputs.skip_lint }}
    name: Health check
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: jobmarket
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres -d jobmarket"
          --health-interval 5s
          --health-timeout 5s
          --health-retries 5
    env:
      DATABASE_URL: postgresql://postgres:postgres@localhost:5432/jobmarket?sslmode=disable
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Build image
        uses: docker/build-push-action@v6
        with:
          context: .
          load: true
          target: runner
          tags: |
            ${{ vars.IMAGE_NAME }}:latest
          cache-from: type=gha,scope=prod
          cache-to: type=gha,mode=max,scope=prod
      - name: Run container
        run: |
          docker run -d \
          --name ${{ vars.IMAGE_NAME }} \
          -p 8080:8080 \
          --health-cmd "curl -f http://localhost:8080/health/" \
          --health-interval 5s \
          --health-timeout 3s \
          --health-retries 5 \
          -e "DATABASE_URL=${{ env.DATABASE_URL }}" \
          -e "DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1" \
          ${{ vars.IMAGE_NAME }}:latest
      - name: Check container health
        run: |
          for i in {1..15}; do
            STATUS=$(docker inspect --format='{{json .State.Health.Status}}' ${{ vars.IMAGE_NAME }})
            if [ "$STATUS" = "\"healthy\"" ]; then
              exit 0
            fi
            sleep 3
          done
          echo "API failed to start"
          docker logs ${{ vars.IMAGE_NAME }}
          exit 1
      - name: Stop container
        if: always()
        run: docker rm -f ${{ vars.IMAGE_NAME }}
  build:
    name: Build image and push to Docker Hub
    needs: test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build image
        uses: docker/build-push-action@v6
        with:
          context: .
          target: runner
          push: true
          tags: |
            ${{ env.DOCKER_REPO_NAME }}:latest
            ${{ env.DOCKER_REPO_NAME }}:${{ github.sha }}
            ${{ env.DOCKER_REPO_NAME }}:${{ github.run_number }}
          cache-from: type=gha,scope=prod
          cache-to: type=gha,mode=max,scope=prod
