name: CI/CD pipeline for staging branches
run-name: ${{ github.event_name == 'push' && github.event.head_commit.message || github.sha }}
on:
  push:
    branches-ignore:
      - main
    paths-ignore:
      - README.md
  workflow_dispatch:
    inputs:
      skip_lint:
        description: "Skip lint stage"
        type: boolean
        required: false
        default: false
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
env:
  DOCKER_BUILDKIT: 1
  DOCKER_BUILDKIT_PROGRESS: plain
  COMPOSE_DOCKER_CLI_BUILD: 1
  DOCKER_REPO_NAME: ${{ vars.DOCKERHUB_USERNAME }}/${{ vars.IMAGE_NAME }}
jobs:
  quality-gates:
    if: ${{ !github.event.inputs.skip_lint }}
    uses: ./.github/workflows/_quality-gates.yml
    with:
      docker-target: dev-runner
      image-name: ${{ vars.IMAGE_NAME }}
      cache-scope: dev

  sonarqube:
    name: SonarCloud scan
    continue-on-error: true
    needs: quality-gates
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    if: ${{ github.event_name == 'push' }}
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Download coverage report
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4
        with:
          name: coverage-report

      - name: Run SonarCloud scan
        uses: SonarSource/sonarcloud-github-action@383f7e52eae3ab0510c3cb0e7d9d150bbaeab838 # v3
        env:
          SONAR_TOKEN: ${{ secrets.SONARQUBE_TOKEN }}

  snyk:
    name: Snyk scan
    needs: quality-gates
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    if: ${{ github.event_name == 'push' }}
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Run Snyk
        uses: snyk/actions/python@9adf32b1121593767fc3c057af55b55db032dc04 # master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --severity-threshold=critical
  build:
    name: Build image and push to Docker Hub
    needs:
      - quality-gates
      - snyk
    if: ${{ github.event_name == 'push' }}
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Setup docker buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
      - name: Login to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          target: dev-runner
          push: true
          tags: |
            ${{ env.DOCKER_REPO_NAME }}:dev
            ${{ env.DOCKER_REPO_NAME }}:dev-${{ github.sha }}
            ${{ env.DOCKER_REPO_NAME }}:dev-${{ github.run_number }}
          cache-from: type=gha,scope=dev
          cache-to: type=gha,mode=max,scope=dev
