name: CI/CD pipeline for staging branches
run-name: ${{ github.event_name == 'push' && github.event.head_commit.message || github.sha }}
on:
  push:
    branches-ignore:
      - main
    paths-ignore:
      - README.md
  workflow_dispatch:
    inputs:
      skip_lint:
        description: "Skip lint stage"
        type: boolean
        required: false
        default: false
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
env:
  DOCKER_BUILDKIT: 1
  DOCKER_BUILDKIT_PROGRESS: plain
  COMPOSE_DOCKER_CLI_BUILD: 1
  DOCKER_REPO_NAME: ${{ vars.DOCKERHUB_USERNAME }}/${{ vars.IMAGE_NAME }}
jobs:
  quality-gates:
    if: ${{ !github.event.inputs.skip_lint }}
    uses: ./.github/workflows/_quality-gates.yml
    with:
      docker-target: dev-runner
      image-name: ${{ vars.IMAGE_NAME }}
      cache-scope: dev

  sonarqube:
    name: SonarCloud scan
    needs: quality-gates
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    if: ${{ github.event_name == 'push' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run SonarCloud scan
        uses: SonarSource/sonarcloud-github-action@v3
        env:
          SONAR_TOKEN: ${{ secrets.SONARQUBE_TOKEN }}

  snyk:
    name: Snyk scan
    needs: quality-gates
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    if: ${{ github.event_name == 'push' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run Snyk
        uses: snyk/actions/python@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --severity-threshold=high
  build:
    name: Build image and push to Docker Hub
    needs:
      - quality-gates
      - sonarqube
      - snyk
    if: ${{ github.event_name == 'push' }}
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build image
        uses: docker/build-push-action@v6
        with:
          context: .
          target: dev-runner
          push: true
          tags: |
            ${{ env.DOCKER_REPO_NAME }}:dev
            ${{ env.DOCKER_REPO_NAME }}:dev-${{ github.sha }}
            ${{ env.DOCKER_REPO_NAME }}:dev-${{ github.run_number }}
          cache-from: type=gha,scope=dev
          cache-to: type=gha,mode=max,scope=dev
